// * Display

.DisplayLarge {
  font-weight: 400;
  font-size: 57px;
  line-height: 112%;
  letter-spacing: 0em;
}
.DisplayMedium {
  font-weight: 400;
  font-size: 45px;
  line-height: 116%;
}
.DisplaySmall {
  font-weight: 400;
  font-size: 36px;
  line-height: 122%;
}

// Headline

.HeadlineLarge {
  font-weight: 400;
  font-size: 32px;
  line-height: 125%;
}
.HeadlineMedium {
  font-weight: 400;
  font-size: 28px;
  line-height: 129%;
}
.HeadlineSmall {
  font-weight: 400;
  font-size: 24px;
  line-height: 133%;
}

// * Title

.TitleLarge {
  font-weight: 400;
  font-size: 22px;
  line-height: 127%;
}
.TitleMedium {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
}
.TitleSmall {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
}

// * Label

.LabelLarge {
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
}
.LabelMedium {
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;
  letter-spacing: 0.04em;
}
.LabelSmall {
  font-weight: 500;
  font-size: 11px;
  line-height: 145%;
  letter-spacing: 0.05em;
}

// * Body

.BodyLarge {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
}
.BodyMedium {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.02em;
}
.BodySmall {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
}
