.box {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dec {
}
.reset {
}
.inc {
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
