$--m3-sys-light-primary: #6750a4;

$--m3-white: #ffffff;

// * Filled buttons

.FilledButtons {
  border-radius: 100px;
  background: $--m3-sys-light-primary;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.01em;
  text-align: center;
  color: $--m3-white;
  border: none;
  transition: 0.3s all;
  cursor: pointer;

  &:hover {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15),
      0 1px 2px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    opacity: 0.9;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 7px 0px rgba(0, 0, 255, 0.5);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
