.back {
  border: 1px solid #b1b1b1;
  padding: 10px;
  border-radius: 2px;
  transition: all 0.2s ease;
  &:hover {
    background-color: #e7e5e5;
  }
}

.box {
  margin-top: 30px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;
  padding: 10px;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.title {
  text-align: center;
  font-weight: 700;
}
.img {
  display: block;
  margin: 0 auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  height: auto;
  td,
  th {
    border: 1px solid #b1b1b1;
  }
  td,
  th {
    padding: 3px;
    width: 30px;
    height: 35px;
  }
}
