.wrap > div {
  width: 450px;
  padding: 30px;
  text-align: center;
}
.modal {
  position: relative;
  color: #fff;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
